<div data-hook="admin_tire_green_rate_form_fields">
  <table data-hook="name">
    <tr>
      <td><%= t(:cat) %>:</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= t(:description) %>:</td>
      <td><%= f.text_field :description %></td>
    </tr>
    <tr>
      <td><%= t(:weight_min) %>:</td>
      <td><%= f.text_field :weight_min %></td>
    </tr>
    <tr>
      <td><%= t(:weight_max) %>:</td>
      <td><%= f.text_field :weight_max %></td>
    </tr>
    <tr>
      <td><%= t(:amount) %>:</td>
      <td><%= f.text_field :amount %></td>
    </tr>
    <tr>
      <td><%= t(:currency) %>:</td>
      <td><%= f.text_field :currency %></td>
    </tr>
  </table>
</div>
