<%= render :partial => 'spree/admin/shared/tires_setting_menu' %>
<% content_for :page_title do %>
  <%= t(:new_tire_green_rate) %>
<% end %>
<% content_for :page_actions do %>
  <li><%= button_link_to t(:back_to_tire_green_rates_list), spree.admin_tire_green_rates_path, :icon => 'icon-arrow-left' %></li>
<% end %>
<%= csrf_meta_tags %>

<div data-hook="admin_order_new_header">
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @tire_green_rate }%>
</div>

<%= form_for [:admin, @tire_green_rate] do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="filter-actions actions" data-hook="buttons">
    <%= button t(:create), 'icon-ok' %>
  </div>
<% end %>
